html{
    background-color: dimgrey;
}
header{
    background-color: darkslategray;
    margin: 15;
    max-width: 100%;
    
}

button{
    display: inline-block;
    background-color: darkslategray;
    border-radius: 2px;
    border:  4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px;
}